<div class="hero-header">

    <div id="hero-slider" class="hero-slider">

        <div class="item-slider" style="background:url(~/Img/slide/3.jpg);">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="info-slider">
                            <h1>Phase de groupe</h1>
                            <p>Makèpè FC se prépare pour acceuillir les jeunes de Sadi. Stage bloqué pour deux jours.</p>
                            <a href="#" class="btn-iw outline">En savoir+ <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="item-slider" style="background:url(~/Img/slide/2.jpg);">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="info-slider">
                            <h1>Les rivalités en Fo6 immature league reprennent</h1>
                            <p>L'exposition en plein air sur la place  Mbapélépé comprend 11 personnages qui symbolisent les principaux sites d'intérêt.</p>
                            <a href="#" class="btn-iw outline">En savoir+ <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item-slider" style="background:url(~/Img/slide/1.jpg);">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="info-slider">
                            <h1>Phase de groupe</h1>
                            <p>Makèpè FC se prépare pour acceuillir les jeunes de Sadi. Stage bloqué pour deux jours.</p>
                            <a href="#" class="btn-iw outline">En savoir+ <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


    <div class="dark-home">
        <div class="container">
            <div class="row">

                <div class="col-xl-9 col-md-12">

                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#statistics" data-toggle="tab">STATISTISQUES</a></li>
                        <li><a href="#groups" data-toggle="tab">GROUPES</a></li>
                        <li><a href="#description" data-toggle="tab">DESCRIPTION</a></li>
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active" id="statistics">
                            <div class="row">

                                <div class="col-lg-4">
                                    <div class="club-ranking">
                                        <h5><a href="group-list.html">Classement</a></h5>
                                        <div class="info-ranking">
                                            <ul>
                                                <li>
                                                    <span class="position">
                                                        1
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/rusia.png" alt="">
                                                        Kotto FC
                                                    </a>
                                                    <span class="points">
                                                        90
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="position">
                                                        2
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/arabia.png" alt="">
                                                        Sadi FC
                                                    </a>
                                                    <span class="points">
                                                        86
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="position">
                                                        3
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/egy.png" alt="">
                                                        Makèpè FC
                                                    </a>
                                                    <span class="points">
                                                        84
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="position">
                                                        4
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/uru.png" alt="">
                                                        Akwa FC
                                                    </a>
                                                    <span class="points">
                                                        70
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="position">
                                                        5
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/por.png" alt="">
                                                        Village FC
                                                    </a>
                                                    <span class="points">
                                                        67
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="position">
                                                        6
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/esp.png" alt="">
                                                        Cité FC
                                                    </a>
                                                    <span class="points">
                                                        60
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="position">
                                                        7
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/mar.png" alt="">
                                                        Bépanda FC
                                                    </a>
                                                    <span class="points">
                                                        90
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="position">
                                                        8
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/irn.png" alt="">
                                                        Deido FC
                                                    </a>
                                                    <span class="points">
                                                        53
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="recent-results">
                                        <h5><a href="group-list.html">Résultat récent</a></h5>
                                        <div class="info-results">
                                            <ul>
                                                <li>
                                                    <span class="head">
                                                        Village FC Vs Cité  FC <span class="date">27 Jun 2017</span>
                                                    </span>
                                                    <div class="goals-result">
                                                        <a href="single-team.html">
                                                            <img src="~/Img/clubs-logos/por.png" alt="">
                                                            Village FC
                                                        </a>
                                                        <span class="goals">
                                                            <b>2</b> - <b>3</b>
                                                        </span>
                                                        <a href="single-team.html">
                                                            <img src="~/Img/clubs-logos/esp.png" alt="">
                                                            Cité FC
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="head">
                                                        Bastos Vs Aben FC <span class="date">30 Jun 2017</span>
                                                    </span>
                                                    <div class="goals-result">
                                                        <a href="single-team.html">
                                                            <img src="~/Img/clubs-logos/rusia.png" alt="">
                                                            Bastos
                                                        </a>
                                                        <span class="goals">
                                                            <b>2</b> - <b>3</b>
                                                        </span>
                                                        <a href="single-team.html">
                                                            <img src="~/Img/clubs-logos/colombia.png" alt="">
                                                            Aben FC
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="head">
                                                        Akwa FC Vs Village FC <span class="date">31 Jun 2017</span>
                                                    </span>
                                                    <div class="goals-result">
                                                        <a href="single-team.html">
                                                            <img src="~/Img/clubs-logos/uru.png" alt="">
                                                            Akwa FC
                                                        </a>
                                                        <span class="goals">
                                                            <b>2</b> - <b>3</b>
                                                        </span>
                                                        <a href="single-team.html">
                                                            <img src="~/Img/clubs-logos/por.png" alt="">
                                                            Village FC
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="player-ranking">
                                        <h5><a href="group-list.html">Meilleurs joueurs</a></h5>
                                        <div class="info-player">
                                            <ul>
                                                <li>
                                                    <span class="position">
                                                        1
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/players/1.jpg" alt="">
                                                        Maling
                                                    </a>
                                                    <span class="points">
                                                        90
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="position">
                                                        2
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/players/2.jpg" alt="">
                                                        Gonou Julio
                                                    </a>
                                                    <span class="points">
                                                        88
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="position">
                                                        3
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/players/3.jpg" alt="">
                                                        Loumoun Paul
                                                    </a>
                                                    <span class="points">
                                                        86
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="position">
                                                        4
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/players/4.jpg" alt="">
                                                        Ngoundé Gona
                                                    </a>
                                                    <span class="points">
                                                        80
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="position">
                                                        7
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/players/5.jpg" alt="">
                                                        Kalamo Paul
                                                    </a>
                                                    <span class="points">
                                                        76
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="position">
                                                        6
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/players/6.jpg" alt="">
                                                        Jodjie Jasmin
                                                    </a>
                                                    <span class="points">
                                                        74
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="position">
                                                        7
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/players/2.jpg" alt="">
                                                        Nana Ilaire
                                                    </a>
                                                    <span class="points">
                                                        70
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="position">
                                                        8
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/players/1.jpg" alt="">
                                                        Fofana Ali
                                                    </a>
                                                    <span class="points">
                                                        65
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane" id="groups">
                            <div class="groups-list">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <h5><a href="groups.html">GROUP A</a></h5>
                                        <div class="item-group">
                                            <ul>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/rusia.png" alt="">
                                                        Kotto FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/arabia.png" alt="">
                                                        Sadi FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/egy.png" alt="">
                                                        Makèpè FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/uru.png" alt="">
                                                        Akwa FC
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <h5><a href="groups.html">GROUP B</a></h5>
                                        <div class="item-group">
                                            <ul>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/por.png" alt="">
                                                        Village FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="img/clubs-logos/esp.png" alt="">
                                                        Cité FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="img/clubs-logos/mar.png" alt="">
                                                        Bépanda FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/irn.png" alt="">
                                                        Deido FC
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <h5><a href="group-list.html">GROUP C</a></h5>
                                        <div class="item-group">
                                            <ul>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/fra.png" alt="">
                                                        Ngodi
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/aus.png" alt="">
                                                        Logpom
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/per.png" alt="">
                                                        Medong
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/den.png" alt="">
                                                        Toket
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <h5><a href="group-list.html">GROUP D</a></h5>
                                        <div class="item-group">
                                            <ul>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/arg.png" alt="">
                                                        Baf FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="img/clubs-logos/isl.png" alt="">
                                                        Madelon
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="img/clubs-logos/cro.png" alt="">
                                                        Tama
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/nga.png" alt="">
                                                        Ngodi
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <h5><a href="group-list-html">GROUP E</a></h5>
                                        <div class="item-group">
                                            <ul>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/bra.png" alt="">
                                                        Soa FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/sui.png" alt="">
                                                        Ngoa FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/costa-rica.png" alt="">
                                                        Bedi FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/srb.png" alt="">
                                                        Ndokoti
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <h5><a href="group-list-html">GROUP F</a></h5>
                                        <div class="item-group">
                                            <ul>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/ger.png" alt="">
                                                        Poste FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/mex.png" alt="">
                                                        Bonas FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/swe.png" alt="">
                                                        Damas
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/kor.png" alt="">
                                                        Mvan FC
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <h5><a href="group-list-html">GROUP G</a></h5>
                                        <div class="item-group">
                                            <ul>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/bel.png" alt="">
                                                        Balin FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/pan.png" alt="">
                                                        Salin FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/tun.png" alt="">
                                                        Nanfack
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/eng.png" alt="">
                                                        Mbyem
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <h5><a href="group-list-html">GROUP H</a></h5>
                                        <div class="item-group">
                                            <ul>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/pol.png" alt="">
                                                        Koiti FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/sen.png" alt="">
                                                        Solo FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/colombia.png" alt="">
                                                        Aben FC
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-team.html">
                                                        <img src="~/Img/clubs-logos/japan.png" alt="">
                                                        Tinga
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="description">
                            <div class="info-general">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="~/Img/locations/1.jpg" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <h3>Fo6 Immature League 2019</h3>
                                        <p class="lead">La Fo6 Immature League 2019 sera la deuxième édition, un tournoi national de football quadriennal disputé par les équipes locales masculines. Au littoral du Cameroun pour que le temps de déplacement reste raisonnable.</p>
                                    </div>
                                    <div class="col-md-12">
                                        <p>Il devrait se dérouler en Russie du 14 juin au 15 juillet 2018 [2], après que le pays se soit vu attribuer les droits d'hébergement, le 2 décembre 2010. Il s'agira de la première Coupe du monde de football organisée en Europe depuis 2006; Tous les stades, sauf un, se trouvent en Russie européenne, à l'ouest des montagnes de l'Oural, afin de limiter les temps de déplacement.</p>
                                        <h4>Fossito Tenkeu Cédric- President de la League</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-xl-3 col-md-12">
                    <div class="counter-home-wraper">
                        <div class="title-color text-center">
                            <h4>Fo6 Immature League 2019</h4>
                        </div>
                        <div class="content-counter content-counter-home">
                            <p class="text-center">
                                <i class="fa fa-clock-o"></i>
                                Compte à rebours pour commencer
                            </p>
                            <div id="event-one" class="counter"></div>
                            <ul class="post-options">
                                <li><i class="fa fa-calendar"></i>23 Decembre 2019</li>
                                <li><i class="fa fa-clock-o"></i>Coup d'envoie, 12h00</li>
                            </ul>
                            <div class="list-groups">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <p>GROUP A, Stade Mbapélépé de Douala</p>
                                    </div>
                                    <div class="col-md-5">
                                        <img src="~/Img/clubs-logos/mar.png" alt="">
                                        <span>Kotto FC</span>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="vs">Vs</div>
                                    </div>
                                    <div class="col-md-5">
                                        <img src="~/Img/clubs-logos/arabia.png" alt="">
                                        <span>Bali FC</span>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-primary" href="#">
                                Reserver ma place
                                <i class="fa fa-trophy"></i>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container padding-top">
        <div class="row">

            <div class="col-lg-6 col-xl-7">

                <div class="panel-box">
                    <div class="titles">
                        <h4>Nouvelles récentes</h4>
                    </div>

                    <div class="post-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="img-hover">
                                    <img src="~/Img/blog/1.jpg" alt="" class="img-responsive">
                                    <div class="overlay"><a href="single-news.html">+</a></div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h5><a href="single-news.html">Phase de groupe</a></h5>
                                <span class="data-info">January 3, 2014 / <i class="fa fa-comments"></i><a href="#">0</a></span>
                                <p>Makèpè FC se prépare pour acceuillir les jeunes de Sadi. Stage bloqué pour deux jours.<a href="single-news.html">En savoir+ [+]</a></p>
                            </div>
                        </div>
                    </div>


                    <div class="post-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="img-hover">
                                    <img src="~/Img/blog/2.jpg" alt="" class="img-responsive">
                                    <div class="overlay"><a href="single-news.html">+</a></div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h5><a href="single-news.html">Kotto FC 2018’s potential classic match-ups</a></h5>
                                <span class="data-info">January 9, 2014 / <i class="fa fa-comments"></i><a href="#">5</a></span>
                                <p>Our goal is very clear, it didn’t change after the draw. We should qualify for the knockout stage.<a href="single-news.html">En savoir+ [+]</a></p>
                            </div>
                        </div>
                    </div>


                    <div class="post-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="img-hover">
                                    <img src="~/Img/blog/3.jpg" alt="" class="img-responsive">
                                    <div class="overlay"><a href="single-news.html">+</a></div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h5><a href="single-news.html">Les rivalités en Fo6 immature league reprennent</a></h5>
                                <span class="data-info">January 4, 2014 / <i class="fa fa-comments"></i><a href="#">3</a></span>
                                <p>L'exposition en plein air sur la place  Mbapélépé comprend 11 personnages qui symbolisent les principaux sites d'intérêt.<a href="single-news.html">En savoir+ [+]</a></p>
                            </div>
                        </div>
                    </div>


                    <div class="post-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="img-hover">
                                    <img src="~/Img/blog/4.jpg" alt="" class="img-responsive">
                                    <div class="overlay"><a href="single-news.html">+</a></div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h5><a href="single-news.html">All set for your trip to Kotto FC?</a></h5>
                                <span class="data-info">January 8, 2014 / <i class="fa fa-comments"></i><a href="#">2</a></span>
                                <p>Aben FC play Tinga on 19 June at the Mordovia Arena, where the piling and casting operations.<a href="single-news.html">En savoir+ [+]</a></p>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="panel-box">
                    <div class="titles">
                        <h4>Meilleurs joueurs</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
                            <div class="box-info">
                                <a href="single-player.html">
                                    <img src="~/Img/players/1.jpg" alt="" class="img-responsive">
                                </a>
                                <h6 class="entry-title"><a href="single-player.html">Nono Christian</a></h6>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
                            <div class="box-info">
                                <a href="single-player.html">
                                    <img src="~/Img/players/2.jpg" alt="" class="img-responsive">
                                </a>
                                <h6 class="entry-title"><a href="single-player.html">Gonou Julio</a></h6>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
                            <div class="box-info">
                                <a href="single-player.html">
                                    <img src="~/Img/players/3.jpg" alt="" class="img-responsive">
                                </a>
                                <h6 class="entry-title"><a href="single-player.html">Loumoun Paul</a></h6>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
                            <div class="box-info">
                                <a href="single-player.html">
                                    <img src="~/Img/players/6.jpg" alt="" class="img-responsive">
                                </a>
                                <h6 class="entry-title"><a href="single-player.html">Ngoundé Gona</a></h6>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
                            <div class="box-info">
                                <a href="single-player.html">
                                    <img src="~/Img/players/7.jpg" alt="" class="img-responsive">
                                </a>
                                <h6 class="entry-title"><a href="single-player.html"> Kalamo Paul</a></h6>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
                            <div class="box-info">
                                <a href="single-player.html">
                                    <img src="~/Img/players/4.jpg" alt="" class="img-responsive">
                                </a>
                                <h6 class="entry-title"><a href="single-player.html">Jodjie Jasmin</a></h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <aside class="col-sm-6 col-lg-3 col-xl-3">

                <div class="panel-box">
                    <div class="titles no-margin">
                        <h4>Stades</h4>
                    </div>

                    <ul class="single-carousel">
                        <li>
                            <img src="~/Img/locations/1.jpg" alt="" class="img-responsive">
                            <div class="info-single-carousel">
                                <h4>Stade mbapélépé</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cillum dolore eu fugiat nulla sit amet, consectetur adipisicing elit, pariatur.</p>
                            </div>
                        </li>
                        <li>
                            <img src="~/Img/locations/2.jpg" alt="" class="img-responsive">
                            <div class="info-single-carousel">
                                <h4>Stade Marion</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </li>
                        <li>
                            <img src="~/Img/locations/3.jpg" alt="" class="img-responsive">
                            <div class="info-single-carousel">
                                <h4>Stade annexe</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </li>
                    </ul>

                </div>


                <div class="panel-box">
                    <div class="titles no-margin">
                        <h4>Presentation</h4>
                    </div>

                    <div class="row">
                        <iframe src="https://www.youtube.com/embed/AfOlAUd7u4o" class="video"></iframe>
                        <div class="info-panel">
                            <h4>Rio de Janeiro</h4>
                            <p>Lorem ipsum dolor sit amet, sit amet, consectetur adipisicing elit, elit, incididunt ut labore et dolore magna aliqua sit amet, consectetur adipisicing elit,</p>
                        </div>
                    </div>

                </div>


                <div class="panel-box">
                    <div class="titles no-margin">
                        <h4>Widget Image</h4>
                    </div>
                    <img src="~/Img/slide/1.jpg" alt="">
                    <div class="row">
                        <div class="info-panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, ut sit amet, consectetur adipisicing elit, labore et dolore.</p>
                        </div>
                    </div>
                </div>

            </aside>


            <aside class="col-sm-6 col-lg-3 col-xl-2">

                <div class="panel-box">
                    <div class="titles">
                        <h4><i class="fa fa-calendar"></i>Diary</h4>
                    </div>

                    <ul class="list-diary">

                        <li>
                            <h6>GROUP A <span>14 JUN 2018 - 18:00</span></h6>
                            <ul class="club-logo">
                                <li>
                                    <img src="~/Img/clubs-logos/rusia.png" alt="">
                                    <span>Kotto FC</span>
                                </li>
                                <li>
                                    <img src="~/Img/clubs-logos/arabia.png" alt="">
                                    <span>Bali FC</span>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <h6>GROUP E <span>22 JUN 2018 - 15:00</span></h6>
                            <ul class="club-logo">
                                <li>
                                    <img src="~/Img/clubs-logos/bra.png" alt="">
                                    <span>Soa FC</span>
                                </li>
                                <li>
                                    <img src="~/Img/clubs-logos/costa-rica.png" alt="">
                                    <span>Bedi FC</span>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <h6>GROUP H <span>19 JUN 2018 - 15:00</span></h6>
                            <ul class="club-logo">
                                <li>
                                    <img src="~/Img/clubs-logos/colombia.png" alt="">
                                    <span>Aben FC</span>
                                </li>
                                <li>
                                    <img src="~/Img/clubs-logos/japan.png" alt="">
                                    <span>Tinga</span>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <h6>GROUP C <span>16 JUN 2018 - 15:00</span></h6>
                            <ul class="club-logo">
                                <li>
                                    <img src="~/Img/clubs-logos/fra.png" alt="">
                                    <span>Ngodi</span>
                                </li>
                                <li>
                                    <img src="~/Img/clubs-logos/aus.png" alt="">
                                    <span>Logpom</span>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>


                <div class="panel-box">
                    <div class="titles no-margin">
                        <h4><i class="fa fa-link"></i>Cta</h4>
                    </div>
                    <a href="#" target="_blank">
                        <img src="~/Img/adds/sidebar.png" class="img-responsive" alt="">
                    </a>
                </div>

            </aside>

        </div>
    </div>
